modules = ["nodejs-20"]

[workflows]
runButton = "Dev"

[[workflows.workflow]]
name = "Next.js"
author = 40254818

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Dev"
author = 40254818

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[ports]]
localPort = 3000
externalPort = 80
